<div class="navbar-header">
	<%= link_to image_tag("icetrails_api_logo.jpg", :border => 0, :style => 'height: 40px;'), root_path, :class => 'navbar-brand' %>
</div>
<!--
<nav class="" role="navigation"></nav>
-->